{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <!--    filter     -->
        <div class="col-lg-3 mx-auto">
            <div class="list-group">
                 <a class="list-group-item" href="/">All Products</a>
                {% for category in categories %}
                <a class="list-group-item" href="/?category={{category.id}}">{{category}}</a>
                 {% endfor %}
            </div>
        </div>

        <!--   all products     -->
        <div id="products" class="col-lg-9 mx-auto">
            <div class="row mx-auto">

                {% for product in products %}
                <div class="card mx-auto mb-3" style="width: 18rem;">
                    <h5 class="card-title">{{product.name}}</h5>
                    <img src="{{ product.image.url }}" height="250px" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4><b>{{product.price}}</b></h4>
                        <!--        <h4>{{product.description}}</h4>-->
                        <!--        <h4>{{product.category.name}}</h4>-->
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's
                            content.</p>
                        <a href="#" class="btn btn-light border btn-sm">add cart</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>


</div>
{% endblock %}

